[submodule "src/DALI"]
	path = src/DALI
	url = https://github.com/ivoa-std/DALI
[submodule "src/VODataService"]
	path = src/VODataService
	url = https://github.com/ivoa-std/VODataService
[submodule "src/VOResource"]
	path = src/VOResource
	url = https://github.com/ivoa-std/VOResource
[submodule "src/ConeSearch"]
	path = src/ConeSearch
	url = https://github.com/ivoa-std/ConeSearch
[submodule "src/VOTable"]
	path = src/VOTable
	url = https://github.com/pahjbo/VOTable
[submodule "src/ADQL"]
	path = src/ADQL
	url = https://github.com/ivoa-std/ADQL
[submodule "src/TAP"]
	path = src/TAP
	url = https://github.com/ivoa-std/TAP
[submodule "src/RegTAP"]
	path = src/RegTAP
	url = https://github.com/pahjbo/RegTAP
[submodule "src/UWS"]
	path = src/UWS
	url = https://github.com/ivoa-std/UWS
[submodule "src/ivoatex"]
	path = src/ivoatex
	url = git@github.com:pahjbo/ivoatex.git
	branch = docrepobib
[submodule "src/IVOAArchitecture"]
	path = src/IVOAArchitecture
	url = https://github.com/pahjbo/architecture
[submodule "src/UCDlist"]
	path = src/UCDlist
	url = https://github.com/ivoa-std/UCDList
[submodule "src/DataLink"]
	path = src/DataLink
	url = https://github.com/ivoa-std/DataLink
[submodule "src/VOEvent"]
	path = src/VOEvent
	url = https://github.com/ivoa-std/VOEvent
[submodule "src/ExecutionBroker"]
	path = src/ExecutionBroker
	url = https://github.com/ivoa-std/ExecutionBroker
[submodule "src/VOSpace"]
	path = src/VOSpace
	url = https://github.com/ivoa-std/VOSpace
[submodule "src/moc"]
	path = src/moc
	url = https://github.com/pahjbo/MOC
[submodule "src/AuthVO"]
	path = src/AuthVO
	url = https://github.com/ivoa-std/AuthVO
[submodule "src/ObsLocTAP"]
	path = src/ObsLocTAP
	url = https://github.com/ivoa-std/ObsLocTAP
[submodule "src/EPNTAP"]
	path = src/EPNTAP
	url = https://github.com/ivoa-std/EPNTAP
[submodule "src/ObjObsSAP"]
	path = src/ObjObsSAP
	url = https://github.com/ivoa-std/ObjObsSAP
[submodule "src/VOSI"]
	path = src/VOSI
	url = https://github.com/ivoa-std/VOSI
[submodule "src/SODA"]
	path = src/SODA
	url = https://github.com/pahjbo/SODA
[submodule "src/ObscoreTimeExtension"]
	path = src/ObscoreTimeExtension
	url = https://github.com/ivoa-std/ObscoreTimeExtension
[submodule "src/SIA"]
	path = src/SIA
	url = https://github.com/pahjbo/SIA
[submodule "src/GMS"]
	path = src/GMS
	url = https://github.com/ivoa-std/GMS
[submodule "src/DAP"]
	path = src/DAP
	url = https://github.com/ivoa-std/DAP
[submodule "src/TAPRegExt"]
	path = src/TAPRegExt
	url = https://github.com/ivoa-std/TAPRegExt
[submodule "src/HiPS"]
	path = src/HiPS
	url = https://github.com/pahjbo/HiPS
[submodule "src/SSO"]
	path = src/SSO
	url = https://github.com/ivoa-std/SSO
[submodule "src/StandardsRegExt"]
	path = src/StandardsRegExt
	url = https://github.com/ivoa-std/StandardsRegExt
[submodule "src/VOUnits"]
	path = src/VOUnits
	url = https://github.com/ivoa-std/VOUnits
[submodule "src/uat-as-upstream"]
	path = src/uat-as-upstream
	url = https://github.com/pahjbo/UAT-as-upstream
[submodule "src/udf-catalogue"]
	path = src/udf-catalogue
	url = https://github.com/pahjbo/udf-catalogue
[submodule "src/ObsCore"]
	path = src/ObsCore
	url = https://github.com/pahjbo/ObsCore
[submodule "src/data-origin"]
	path = src/data-origin
	url = https://github.com/ivoa-std/DataOrigin
[submodule "src/LineTAP"]
	path = src/LineTAP
	url = https://github.com/ivoa-std/LineTAP
[submodule "src/Vocabularies"]
	path = src/Vocabularies
	url = https://github.com/ivoa-std/vocinvo
[submodule "src/SLAP2"]
	path = src/SLAP2
	url = https://github.com/ivoa-std/SLAP2
[submodule "src/ivoatexDoc"]
	path = src/ivoatexDoc
	url = https://github.com/pahjbo/ivoatexDoc
[submodule "src/ObsCoreExtensionForRadioData"]
	path = src/ObsCoreExtensionForRadioData
	url = https://github.com/pahjbo/ObsCoreExtensionForRadioData
[submodule "src/DocRegExt"]
	path = src/DocRegExt
	url = https://github.com/pahjbo/DocRegExt
[submodule "src/schemaVersioning"]
	path = src/schemaVersioning
	url = https://github.com/pahjbo/XMLVers
[submodule "src/DocStd"]
	path = src/DocStd
	url = https://github.com/ivoa-std/DocStd
