/.idea/
/doc/generated/
/sphinxSource/idoc/
/sphinxSource/_generated/
/sphinxSource/__pycache__/
/sphinxSource/_ext/__pycache__/
/build/
/venv/
/pandocCustomization/latest_versions_map.yaml
/submodules-gitstatus.md
